<!-- views/partials/navbar.ejs -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">D3 Web App</a>
    </div>
  </div>
</nav>