html {
  height: 100%;
}
body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  background: #161614;
  height: inherit;
  margin: 0;
  padding: 0;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.bg-1 { 
    background-color: #0072BB; /* Blue */
    color: #ffffff;
}
.bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
.bg-3 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.bg-4 { 
    background-color: #ffffff; /* White */
}
.bg-5 { 
    background-color: #C6C8CA; /* Light Gray */
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

/*D3*/
.map {
  height: 100%;
}

.water {
    fill: none;
}

.land {
  fill: #FF4C3B;
  stroke: #000000;
  stroke-width: 0.5px;
}